
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495704847123'); /* IE9*/
  src: url('iconfont.eot?t=1495704847123#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495704847123') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495704847123') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495704847123#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before { content: "\e62e"; }

.icon-home:before { content: "\e633"; }

.icon-close:before { content: "\e69a"; }

.icon-user:before { content: "\e90e"; }

.icon-xiazai:before { content: "\e639"; }

.icon-119:before { content: "\e638"; }

.icon-yidu:before { content: "\e607"; }

.icon-book:before { content: "\e60d"; }

.icon-weidu:before { content: "\e682"; }

.icon-bk-pen:before { content: "\e62d"; }

.icon-sousuo-xianxing:before { content: "\e8b8"; }

.icon-shezhi-xianxing:before { content: "\e8b7"; }

.icon-xihuan-xianxing:before { content: "\e8c3"; }

.icon-xihuan:before { content: "\e8c4"; }

.icon-activity_fill:before { content: "\e6de"; }

.icon-diamond-o:before { content: "\e91f"; }

