.bg-gray {
  background: #333332;
}
.data-table {
  height: 100%;
  overflow: scroll;
  position: relative;
}
.data-table .el-table table thead tr th {
  text-align: center;
}
.data-table .el-table table .cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
